Repository openSUSE/suse-xsl, pull requests merged in 2023-09, with the labels that each got.

#574 Suse global header integration
  source-assets/styles2022/sass/style-new.sass
  suse2022-ns/static/css/style-new.css
  suse2022-ns/static/js/script-new.js
Labels: format-html

#575 Suse global header integration part2
  source-assets/styles2022/sass/custom/major-elements-new.sass
  source-assets/styles2022/sass/style-new.sass
  suse2022-ns/static/css/style-new.css
Labels: format-html, skill-css/js, styles-2022

#573 Update style.css - right-nav changes
  source-assets/styles2022/sass/custom/major-elements.sass
  source-assets/styles2022/sass/custom/side-toc.sass
  suse2022-ns/static/css/style.css
Labels: format-html, skill-css/js, styles-2022, topic-smartdocs
