Repository openSUSE/suse-xsl, pull requests merged in 2023-11, with the labels that each got.

#593 Remove "compact" output in admons
  suse2022-ns/fo/admon.xsl
Labels: format-pdf

#594 2 column layout correction for single html pages
  source-assets/styles2022/sass/custom/major-elements-new.sass
  source-assets/styles2022/sass/custom/major-elements.sass
  suse2022-ns/static/css/style-new.css
  suse2022-ns/static/css/style.css
Labels: cat-bug, format-html

#599 Fix #596: Correct runinhead.default.title.end.punct
  suse2022-ns/common/l10n/ar.xml
  suse2022-ns/common/l10n/cs.xml
  suse2022-ns/common/l10n/da.xml
  suse2022-ns/common/l10n/de.xml
  suse2022-ns/common/l10n/en.xml
  suse2022-ns/common/l10n/es.xml
  suse2022-ns/common/l10n/fi.xml
  suse2022-ns/common/l10n/fr.xml
  suse2022-ns/common/l10n/hu.xml
  suse2022-ns/common/l10n/it.xml
  suse2022-ns/common/l10n/ja.xml
  suse2022-ns/common/l10n/ko.xml
  suse2022-ns/common/l10n/lt_lt.xml
  suse2022-ns/common/l10n/nl.xml
  suse2022-ns/common/l10n/no.xml
  suse2022-ns/common/l10n/pl.xml
  suse2022-ns/common/l10n/pt_br.xml
  suse2022-ns/common/l10n/ru.xml
  suse2022-ns/common/l10n/sv.xml
  suse2022-ns/common/l10n/zh_cn.xml
  suse2022-ns/fo/block.xsl
  suse2022-ns/xhtml/block.xsl
Labels: cat-bug, format-html, format-pdf, topic-l10n, effort:XS

#598 Fix #597: Correct zh-cn/zh-tw for optional steps
  suse2022-ns/common/l10n/zh_cn.xml
  suse2022-ns/common/l10n/zh_tw.xml
Labels: cat-bug, format-html, format-pdf, topic-l10n, effort:XS
