Repository openSUSE/suse-xsl, pull requests merged in 2025-02, with the labels that each got.

#656 Empty HTML `<meta name="description">`
  suse2022-ns/xhtml/docbook.xsl
Labels: cat-bug, format-html, cat:a11y

#657 DOCTEAM-1663: Fix "Container element is empty"
  suse2022-ns/xhtml/sidetoc.xsl
Labels: cat-bug, format-html, cat:a11y

#658 DOCTEAM-1663: element is not keyboard accessible
  suse2022-ns/xhtml/chunk-common.xsl
Labels: cat-bug, format-html, cat:a11y

#660 Fix DOCTEAM-1663: Container element is empty
  suse2022-ns/xhtml/sidetoc.xsl
Labels: format-html, effort:XS, cat:a11y

#661 Replace Poppins with SUSE fonts
  source-assets/styles2022/sass/style-new.sass
  source-assets/styles2022/sass/style.sass
  suse2022-ns/static/css/style-new.css
  suse2022-ns/static/css/style.css
  suse2022-ns/xhtml/docbook.xsl
Labels: format-html, styles-2022, effort:XS, cat:a11y

#664 Fix #639: Disable hyphenation in article/book titles
  suse2022-ns/fo/article.titlepage.templates.xsl
  suse2022-ns/fo/book.titlepage.templates.xsl
Labels: cat-bug, format-pdf

#666 Fix #646: Remove space in compound terms
  suse2022-ns/fo/inline.xsl
Labels: cat-bug, format-pdf

#667 Fix #632: Changes proposed by Korean translators
  suse2022-ns/common/l10n/ko.xml
Labels: topic-l10n

#669 Fix #637: Footer runs into the second line
  suse2022-ns/fo/pagesetup.xsl
Labels: cat-bug, format-pdf

#671 Fix #589: Overlapping product text in cover page
  suse2022-ns/fo/book.titlepage.templates.xsl
  suse2022-ns/fo/l10n.properties.xml
  suse2022-ns/fo/l10n.properties.xsl
Labels: cat-bug, format-pdf

#674 Fix #592: Make subscript/superscript work for Asian
  suse2022-ns/fo/attributesets.xsl
  suse2022-ns/fo/inline.xsl
Labels: cat-bug, format-pdf

#602 Updating major-elements-new.sass file
  source-assets/styles2022/sass/custom/major-elements-new.sass
  suse2022-ns/static/css/style-new.css
Labels: format-html, skill-css/js, cat-ui

#681 Fix #680: double rel, use rel="preload"
  suse2022-ns/xhtml/docbook.xsl
Labels: cat-bug, format-html, effort:XS
